* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 24px;
    color: #ffa500;
}

.logo h1 p {
    display: block;
    margin-left: 5px;
    font-size: 12px;
    color: #999;
}

.search-cart {
    display: flex;
    align-items: center;
}

.search-cart select, .search-cart input, .search-cart button {
    padding: 10px;
    margin-right: 10px;
}

.search-cart select {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-cart input {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-cart button {
    background-color: #ffa500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-cart {
    margin-left: 20px;
}

.contact-cart p {
    font-size: 12px;
}

.cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.login img{
    width: 40px;
    margin-right: 10px;
}

/* Navigation */
nav {
    background-color: #f1f1f1;
    padding: 10px 20px;
    font-weight: bold;

}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
    font-size: 14px;
}

/* Category Section */
.category {
    padding: 40px 20px;
    background-color: white;
}

.category h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.category-list {
    display: flex;
    justify-content: center;
}

.category-item {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    width: 22%;
}

.category-item img {
    width: 80px;
    height: 80px;
}

.category-item p {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}


.view-all {
    display: block;
    margin-top: 20px;
    text-align: right;
    font-size: 20px;
    color: #333;
}

.trending-products{
    padding: 40px 20px;
    background-color: white;
}
.trending-products h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
.product {
    width: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;

}

.product img {
    width: 100%;
}

.product-info {
    text-align: center;
}

.price {
    color: #f00;
}

.quantity button {
    border: none;
    padding: 5px 10px;
}

.add-to-cart {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.discount {
    background-color: #ffcc00;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Thêm class cho biểu tượng heart (sử dụng font awesome) */
.fa-heart {
    color: red;
    cursor: pointer;
}
